* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
}

main {
    width: 100vw;
    padding-left: 100px;
}

nav {
    height: 100vh;
    width: 100vw;
    background-color: #002432;

    display: flex;
    align-items: center;

    overflow: hidden;
}

nav ul {
    list-style-type: none;

    display: flex;

    position: relative;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
}


nav ul li {
    width: 100%;
}

nav ul li a {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    text-decoration: none;
    color: white;
}

.nav-text {
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

nav ul li a i{
    margin: 0 2.5rem;
    font-size: 1.5rem;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}

.phone-header {
    display: none;
}

.cross {
    display: none;
}

@keyframes open {
    0% {width: 100px;}
    100% {width: 275px;}
} 

@keyframes close {
    0% {width: 275px;}
    100% {width: 100px;}
} 


@media screen and (max-width: 800px) {

    

    nav {
        display: flex;

        flex-direction: column;

        justify-content: center;
        align-items: center;

        width: 0;
    }

    main {
        padding: 0;
    }

    .phone-header {
        display: flex;
        
        justify-content: flex-end;
        align-items: center;

        width: 100vw;
        height: 75px;

        background-color: #002432;

        padding: 0 8vw;

        color: white;
        font-size: 2.5rem;
    }

    .cross {
        display: block;
    
        width: 100%;
        padding: 0 10vw;
        color: white;
        font-size: 2.5rem;
    }

    .cross i {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    @keyframes open {
        0% {width: 0;}
        100% {width: 100vw;} 
    } 
    
    @keyframes close {
        0% {width: 100vw;}
        100% {width: 0; }
    } 
    


}