* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

main {
    width: 100vw;
}

#img {
    display: none;
    height: 8vh;
}

#cross {
    display: none;
}

#header {
    position: sticky;
    top: 0;
    right: 0;

    width: 100px;
    z-index: 1;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 10vh;


    font-size: 3rem;
    color: white;
}

nav, nav ul {
    overflow: hidden;
    flex-direction: column;
}

nav, nav ul, nav li, nav li a {
    display: flex;
}

nav, nav li, nav li a {
    justify-content: center;
    align-items: center;
    
}

.logo img {
    width: 5vw;
}

nav {
    height: 100svh;
    width: 100%;

    background-color: #002432;
}

nav ul {
    justify-content: space-evenly;
    align-items: center;

    height: 85vh;
    width: 100%;
}

nav li {
    height: 70px;
    width: 175px;
    list-style-type: none;
}

.navp {
    display: none;
}

nav li a {
    gap: 10px;

    font-size: 1.5rem;

    color: white;

    text-decoration: none;

    transition: 0.1s;
}

nav li a:hover {
    color: rgb(182, 182, 182);
}

#phone-header {
    display: flex;
    position: sticky;
    top: 0;
    
    justify-content: space-between;
    align-items: center;

    padding: 0 5%;

    font-size: 2.5rem;
    color: white;
}

@keyframes open {
    0% {width: 100px;}
    100% {width: 250px;}
}
 
@keyframes close {
    0% {width: 250px;}
    100% {width: 100px;}
}



@media screen and (max-width: 700px) {

    .logo img  {
        width: 25vw;
    }

    #cross {
        display: block;
    }

    #header {
        width: 0;
    }
    
    @keyframes open {
        0% {width: 0;}
        100% {width: 100vw;}
    }

    @keyframes close {
        0% {width: 100vw;}
        100% {width: 0vw;}
    }

    #phone-header {
        height: 8vh;
        width: 100vw;
        background-color: #002432;
    }


}